*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
body{
	display: flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	flex-wrap: wrap;
    color: #fff;
    background-attachment: fixed;
    margin-top:0; 
    background:#010615;
	
}
/*.container-fluid{
	width:100%;
	position: relative;
}
.container{
	width: 100%;
}*/
/*body{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background:#060c21;
	font-family:Arial,Helvetica,sans-serif;
	overflow:auto;
}*/
h1{
	position: relative;
	text-align: center;
	font-family: sans-serif;
}
p.box{
	margin-top:20px;
	font-size: 10px;
	text-align:center;
	position:relative;
}
.box{
	position:relative;
	width: 400px;
	height: 600px;
	display: flex;
	justify-content:center;
	align-items: center;
	margin:20px;
	/*border-radius: 50px;*/
	background:#060c21;
	/*margin-bottom:-1320px;
	margin-left:-690px;
	margin-top:-100px;*/
}
.box:before {
	content:'';
	position: absolute;
	top:-2px;
	left:-2px;
	right:-2px;
	bottom:-2px;
	background:#fff;
	z-index:-1;
}
.box:after {
	content:'';
	position: absolute;
	top:-2px;
	left:-2px;
	right:-2px;
	bottom:-2px;
	background:#fff;
	z-index:-2;
	filter:blur(40px); 
}
.box:nth-child(1):before,
.box:nth-child(1):after{
	background:linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after{
	background:linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box:nth-child(3):before,
.box:nth-child(3):after{
	background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(4):before,
.box:nth-child(4):after{
	background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(5):before,
.box:nth-child(5):after{
	background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(6):before,
.box:nth-child(6):after{
	background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(7):before,
.box:nth-child(7):after{
	background: linear-gradient(235deg,#772aff,#010615,#2196f3);
}
.box:nth-child(8):before,
.box:nth-child(8):after{
	background: linear-gradient(235deg,#772aff,#010615,#2196f3);
}
.box .box1 {
	position: absolute;
	top:0;
	left:0;
	width:50%;
	height: 100%;
	display:block;
	background: rgba(255,255,255,.1);
	pointer-events: none;
}
.box .content{
	position: absolute;
	padding:20px;
	box-sizing:border-box;
	color:#fff;
	font-size:25px;
	margin-top:50px;
}
#img{
	margin-top:-200px;
	margin-left:230px;
	position:absolute;
	border-radius:50%;
}
.button{
	background-color:#4CAF50;
	color:white;
	padding:11px 26px;
	text-align:right;
	text-decoration:none;
	display:block;
	font-size:20px;
	border-radius:5%; 
	margin-top:20px;
	margin-left:240px;
	cursor:pointer;
	-webkit-transition-duration:0.4s;
	transition-duration:0.4s;
	position:absolute;
	margin-bottom: 20px;
}
.button2:hover{
	box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0,17px 50px 0 rgba(0,0,0,0.19);
}
#d{
  background-color: #222;
}
.web_footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  padding:10px;
  margin-bottom:10px;
  color: white;
}
.web-footer section {
    margin-bottom: 30px;
    text-align: center;
    margin:30px;
  }
  #logo_img{
    /*background-image: url('../images/logohead.png') no-repeat;*/
    float: right;
    background-repeat: no-repeat;
    width: 100px;
    height:100px;
    margin-top: -100px;
    margin-right:0px;
    border:5px solid blue;
    border-top:azure;
  }
.web-footer section hr {
    width: 50%;
  }
@media (min-width: 992px){
	.box {
		float: left;
		width: 44%;
		margin-top: 10px;
	}
	.button{
		margin-left: 150px;
		margin-top: 80px;
	}
	#img{
	margin-top:-170px;
	margin-left:150px;
	position:absolute;
	border-radius:50%;
}
}
/* @media (min-width: 767px){
 	.box {
		float: left;
		width: 45%;
		margin-right:20px;
		margin-top: 10px;
	}
	.button{
		margin-left: 230px;
		margin-top: 40px;
	}
	.box .content{
	position: absolute;
	padding:20px;
	box-sizing:border-box;
	color:#fff;
	font-size:25px;
	margin-top:140px;
}
 }*/
 @media (min-width: 992px) and (max-width:1199px){
 	.box {
		float: left;
		width: 80%;
		margin-top: 10px;
	}
 	.box .content{
	position: absolute;
	padding:20px;
	box-sizing:border-box;
	color:#fff;
	font-size:25px;
	margin-top:100px;
}
#img{
	margin-top:-180px;
	margin-left:270px;
	position:absolute;
	border-radius:50%;
}
.button{
		margin-left: 270px;
		margin-top: 50px;
	}
 }
@media (min-width: 768px) and (max-width: 991px){
	.box {
		float: left;
		width: 90%;
		margin-top: 10px;
	}
	.button{
		margin-left: 220px;
		margin-top: 70px;
	}
	.content{
	font-size:20px;
	margin-top:150px;
}
.box .content{
	position: absolute;
	padding:20px;
	box-sizing:border-box;
	color:#fff;
	font-size:25px;
	margin-top:100px;
}
#img{
	margin-top:-200px;
	margin-left:220px;
	position:absolute;
	border-radius:50%;
}
}
@media (max-width: 767px) {
	.box {
		float: left;
		width: 100%;
		margin-right:20px;
		margin-top: 10px;
	}
	.button{
		margin-left: 100px;
		margin-top: 30px;
	}
	.box .content{
	position: absolute;
	padding:20px;
	box-sizing:border-box;
	color:#fff;
	font-size:25px;
	margin-top:100px;
}
#img{
	margin-top:-140px;
	margin-left:60px;
	border-radius:50%;
}
}
@media(min-width: 541px) and (max-width:766px){
	.box {
		float: left;
		width: 95%;
		margin-right: 10px;
		margin-top: 10px;
	}
	.button{
		margin-left: 55px;
		margin-top: 5px;
	}
	.box .content{
	position: absolute;
	padding:10px;
	box-sizing:border-box;
	color:#fff;
	font-size:15px;
	margin-top:100px;
}
#img{
	margin-top:-160px;
	margin-left:35px;
	position:absolute;
	border-radius:50%;
}
}
@media (min-height: 480px) and (max-width: 540px){
	.box {
		float: left;
		width: 95%;
		margin-right: 10px;
		margin-top: 10px;
	}
	.button{
		margin-left: 55px;
		margin-top: 0px;
	}
	.box .content{
	position: absolute;
	padding:10px;
	box-sizing:border-box;
	color:#fff;
	font-size:15px;
	margin-top:100px;
}
#img{
	margin-top:-160px;
	margin-left:35px;
	position:absolute;
	border-radius:50%;
}
}
@media (max-width: 479px){
	.box {
		float: left;
		width: 80%;
		margin-right:20px;
		margin-top: 10px;
	}
	.button{
		margin-left: 60px;
		margin-top: 5px;
	}
	.box .content{
	position: absolute;
	padding:20px;
	box-sizing:border-box;
	color:#fff;
	font-size:25px;
	margin-top:100px;
}
#img{
	margin-top:-150px;
	margin-left:60px;
	position:absolute;
	border-radius:50%;
}
}
@media (min-width: 300px) and (max-width: 442px){
	.box {
		float: left;
		width: 100%;
		margin-right: 10px;
		margin-top: 10px;
	}
	.button{
		margin-left: 55px;
		margin-top: 10px;
	}
	.box .content{
	position: absolute;
	padding:10px;
	box-sizing:border-box;
	color:#fff;
	font-size:20px;
	margin-top:100px;
}
#img{
	margin-top:-160px;
	margin-left:35px;
	position:absolute;
	border-radius:50%;
}
}
@media(max-width: 280px){
	.box {
		float: left;
		width: 95%;
		margin-right: 10px;
		margin-top: 10px;
	}
	.button{
		margin-left: 55px;
		margin-top: 10px;
	}
	.box .content{
	position: absolute;
	padding:10px;
	box-sizing:border-box;
	color:#fff;
	font-size:20px;
	margin-top:100px;
}
#img{
	margin-top:-160px;
	margin-left:35px;
	position:absolute;
	border-radius:50%;
}
}