* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #fff;
  background-image: url("../images/back-img.jpg");
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
  background-attachment: fixed;
  margin-top:0;
}
li a:hover:not(.active){
background-color:#61122f;
}
.active{
background-color:green;
}	
#animation1{
  width: 150px;
  height: 150px;
  position: absolute;
  background-image:url("../images/html.jpg") no-repeat;
  /*background-color: red;*/
  animation-name: code;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 20px;
  border: 5px solid purple;
}
@keyframes code {
  0% {background-image:url("../images/html.jpg"); left: 100px;top: 200px;border-color: purple}
  25% {background-image:url("../images/js.jpg"); left: 100px;top: 350px;border-color: blue}
  50% {background-image:url("../images/c.jpg"); left: 100px;top: 450px;border-color: yellow}
  75% {background-image:url("../images/java.jpg"); left: 100px;top: 600px;border-color:green}
  100% {background-image:url("../images/html.jpg"); left: 100px;top: 200px;border-color: purple}
}
#animation2{
  width: 150px;
  height: 150px;
  position: absolute;
  background-image:url("../images/c.jpg") no-repeat;
  /*background-color: red;*/
  animation-name: codes;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 20px;
  border: 5px solid purple;
}
@keyframes codes {
  0% {background-image:url("../images/css.jpg"); right: 100px;top: 200px;border-color: purple}
  25% {background-image:url("../images/php.jpg"); right: 100px;top: 350px;border-color: blue}
  50% {background-image:url("../images/c++.jpg"); right: 100px;top: 450px;border-color: yellow}
  75% {background-image:url("../images/python.jpg"); right: 100px;top: 600px;border-color: green}
  100% {background-image:url("../images/css.jpg"); right: 100px;top: 200px;border-color: purple}
}
/*li{
  float: left;
}*/
/*ul{
  list-style-type: none;
  margin: 0;
  margin-left:-35px;
  margin-top:-27px;
  padding: 0px;
  background-color:#333;
  /*position:fixed;*/

.brand{
  width: 100px;
  height: 100px;
  margin: 10px 15px 10px 0;
  float: right;
}
/*li a{
  display: block;
  background-color: green;
  border: 1px solid maroon;
  padding:15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align:center;
}*/
/*#logo-img {
  background-image: url('../images/logohead.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 0px 0px 5px 0;
}*/
/*.navbar-brand {
  float:right;
  padding-top: 10px;
}*/
/*.navbar-brand{
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: -50px;
  margin-right:1300px;
  margin-bottom: 0px;
  line-height: .75;
}*/
/*.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand a img{
  width: 60px;
  height: 55px;
  float:right;
  margin-top:-40px;
  margin-right:220px;
  border:2px solid purple;
}*/
/*#d3{
  padding:20px;
  margin-top: 30px;
  height: auto;
}*/
h1{
color:#06eb26;
text-align: center;
font-family: sans-serif;
margin-top: 20px;
width: 100%;
}
#p1{
  color:blueviolet;
  font-size: 20px;
  margin-top: 10px;
  position: relative;
  overflow: auto;
  text-align: center;
}
body{
font-family:Arial,Helvetica,sans-serif;
}
form{
border:3px solid maroon;
background-color: #61122f;
margin-left:390px;
margin-right:410px;
margin-top:80px;
padding-top:10px;
padding-bottom: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 10px;
}
input[type=text],input[type=password]{
width:100%;
padding:10px 30px;
margin:8px 0px;
display:inline-block;
border:1px solid #ccc;
box-sizing:border-box;
}
#b1{
background-color:#4CAF50;
color:white;
padding:14px 20px;
margin:8px 0;
border:none;
cursor:pointer;
width:100%;
}
#b1:hover{
opacity:0.8;
}
.cancelbtn{
width:auto;
padding:10px 18px;
background-color:#f44336;
}
.imgcontainer{
text-align:center;
}
.img.avatar{
width:40%;
border-radius:50%;
}
.c1{
padding:5px;
margin: 0px;
width:100%;
}
span.psw{
float:right;
padding-top:16px;
}
@media screen and(max-width:300px)
{
#animation1{
  display: none;
}
#animation2{
  display: none;
}
span.psw{
display:block;
float:none;
}
.cancelbtn{
width:100%;
}
}
/*Web Footer*/
#d{
  background-color: #222;
}
.web_footer{
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  padding:10px;
  margin-bottom:10px;
}
.web-footer section {
    margin-bottom: 30px;
    text-align: center;
    margin:30px;
  }
  #logo_img{
    /*background-image: url('../images/logohead.png') no-repeat;*/
    float: right;
    background-repeat: no-repeat;
    width: 100px;
    height:100px;
    margin-top: -100px;
    margin-right:0px;
    border:5px solid blue;
    border-top:azure;
  }
.web-footer section hr {
    width: 50%;
  }
 @media (max-width: 767px) {
  #animation1{
  display: none;
}
#animation2{
  display: none;
}
  form{
    border: 3px solid maroon;
    background-color: #61122f;
    margin-top: 40px;
    padding-bottom: 100px;
    padding-bottom: 10px;
    width: 90%;
    margin-left: 20px;
  }
    .navbar-brand h1 {  
  font-family: 'Lora', serif;
  color: blue;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 60px;
  margin-bottom: 0;
  line-height: .75;
  margin-left: 0px;
}
}
@media (min-width: 768px) and (max-width: 991px){
  #animation1{
  display: none;
}
#animation2{
  display: none;
}
  form{
    border: 3px solid maroon;
    background-color: #61122f;
    margin-top: 80px;
    padding-bottom: 100px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: 35px;
  }
    .navbar-brand h1 {  
  font-family: 'Lora', serif;
  color: blue;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  margin-left: 0px;
}
#logo_img{
    /*background-image: url('../images/logohead.png') no-repeat;*/
    background-repeat: no-repeat;
    width: 100px;
    height:100px;
    margin-top: -100px;
    margin-right:0px;
    border:5px solid blue;
    border-top:azure;
  }
@media (min-width: 1200px){
  form{
  width:80%;
  }
} 
  @media (min-width: 992px) and (max-width:1199px){
 form{
   width:80%;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  form{
    width:80%;
  }

}
@media (max-width: 767px){
  #animation1{
  display: none;
}
#animation2{
  display: none;
}
  form{
    width:80%;
  }
}
@media (max-width: 479px) {
  #animation1{
  display: none;
}
#animation2{
  display: none;
}
  form{
    width:80%;
    margin-left:20px;
  }
}